[Unit]
Description=Mail notification
After=mbsync.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/bash /home/vts/.local/bin/mail-notif
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target