[Unit]
Description=Mail notification
After=mbsync.service
Wants=mbsync.service

[Service]
Type=idle
ExecStart=%h/.local/share/virtualenvs/mail-notif/bin/python %h/.local/bin/mail-notif
Restart=always
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
Environment="INBOX=~/.local/share/mail/vithurshan@laposte.net/Inbox/new;~/.local/share/mail/vithurshanselvarajah@gmail.com/Inbox/new"

[Install]
WantedBy=default.target