*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Credentials
.env

# Fonts
.local/share/fonts/*/.uuid

# Org-babel genereted file
.emacs.d/README.el

# Ignore tmux plugins except 'tpm' folder
.config/tmux/plugins/*
!.config/tmux/plugins/tpm/*

# Ingore Qalculalte history file
.config/qalculate/qalc.history